<%= simple_form_for((@socio), :url => "buscarCpf", :method => :get ) do |f|%>
  <%= f.error_notification %>

  <div class="form-inputs col-xs-4">
    <%= f.input :cpf, label:'CPF' %>
  </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="form-actions control-label">
  <%= f.button :submit, 'Buscar' %>
</div>

<% end %>
