<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Perfil
                </a>
            </li>
            <li>
                <a href="/empresas">Listar Empresas</a>
            </li>
            <li>
                <a href="/iniciaBuscaEmpresa">Pesquisar Empresas</a>
            </li>
            <li>
                <a href="/iniciaBuscaCpf">Pesquisar CPF</a>
            </li>
            <li>
                <a href="#">Sair</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Pesquisa Bem</h1>
                    <p>Sistema desenvolvido para pesquisar bens de pessoas físicas e jurídicas.</p>
                    <p>Pessoas físicas só podem ser cadastradas se estiverem ligadas a pessoas jurídicas</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Esconder o Menu</a>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
