<p id="notice"><%= notice %></p>

<p>
  <strong>Arquivo:</strong>
  <%=link_to @anexo.arquivo_file_name, @anexo.arquivo.url %>
</p>

<%= link_to 'Editar', edit_anexo_path(@anexo) %> |
<%= link_to 'Voltar', :back %>
